@font-face {
        font-family: "Opensans";
        src: url("OpenSans-Regular.ttf");
}

body {
    background-color: #f2f2f2;
    font-size: 14px;
    text-align: center;

}
@font-face {
    font-family: 'nasalization-rg';
    src: url('nasalization-rg.ttf');
}
h1 {
    font-family: "nasalization-rg";
    color: #27d1ff ;
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    
}

header {
    background-image: url(texture-header.jpg);
    background-size: 150px;
}
nav {
    background:#2e2f30;
    color: white;
    text-align: right;
}

h2 {
    box-shadow: 8px black ;
    font-family: "Opensans" ;
}
p {
    width: 750px;
    padding: 10px;
}